.example-card {
    max-width: 10000px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-items: center; 
  align-items: center;
  padding: 30px 70px 0 30px;  
}

.home{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.book-home{
  height: 250px;
}

.mat-card-title{
  display: flex;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 30px;
  line-height: 1.25;
}

.mat-card-content{
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
  margin-top: 12px;
}

.content-section{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}