.example-card {
    max-width: 10000px;
}

.title{
  display: flex;
  justify-items: center;  
}

.mat-card-title{
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 30px;
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
  margin-top: 12px;
}