<div class="home">
  <div class="title">
    <mat-card-title>Descubra um universo de conhecimento e emoção <br> Egger Library </mat-card-title>
    <mat-card-content>
      <p>Bem-vindo, o seu destino <br> para uma ampla seleção de livros de diferentes
        gêneros.</p>
    </mat-card-content>
  </div>
  <div>
    <div>
      <img src="assets/img/book-home.png" alt="" class="book-home">
    </div>
  </div>
</div>

<mat-card-title class="content-section">
  Organize sua Biblioteca
</mat-card-title>

<div>
  <div>Cards</div>
</div>