
<div class="title">
  <mat-card-title>Descubra um universo de conhecimento e emoção na Egger Library.</mat-card-title>
    <mat-card-content>
      <p>Bem-vindo ao <strong>Egger Library</strong>, o seu destino para uma ampla seleção de livros de diferentes
        gêneros. Aqui na Egger Library, acreditamos que a leitura é uma das atividades mais valiosas que uma pessoa pode
        desfrutar. É por isso que nos dedicamos a fornecer um espaço aconchegante e tranquilo para aqueles que amam
        mergulhar em boas histórias e adquirir novos conhecimentos.</p>
    </mat-card-content>
</div>