table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
}

th {
  font-weight: bold;
  background-color: #eee;
}
